<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>日記一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="bg-body-tertiary p-3 p-sm-5 mb-4">
    <div class="container">
      <h1 class="display-4">C-memo</h1>
      <p id="sub">子供の成長記録</p>
      <%= link_to "Sign up", sign_up_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
  <%= render 'static_pages/subheading' %>
<% end %>
